# Copyright (C) 2012-2025 The Android Open Source Project
#
# Recovery configuration for kirin710 devices
#

import /init.recovery.hi6250.usb.rc
import /init.recovery.decrypt.fbe.rc

on fs
    start fixlinks

service fixlinks /system/bin/fixlinks.sh
    oneshot
    disabled
    seclabel u:r:recovery:s0

service oeminfo_nvm /system/bin/true
    disabled


